@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

li,a,button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #23120b;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #db6400;
}

.logo {
    cursor: pointer;
    width: 90px;
    height: 80px;
    padding: 0px;
    margin: 0px;
    border-radius: 100%;
}


.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #d6efc7;
}

button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f19e50;
    transition: all 0.3s ease 0s;
    outline: none;
}

button:hover{
    cursor: pointer;
    border-color: wheat;
    color: white;
    background-color: #fd8d0d;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.beach{
    color: #000000;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 40px;
    left: 50px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 3;
    border-radius: 100px;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 1;
}

@media(max-width:480px){
    .container{
        width: 100px;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}